@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
}

*:focus {
  outline: 0px;
  outline-offset: 0;
  background-color: teal;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-heading {
  margin: 1rem auto;
  color: gray;
  font-weight: lighter;
}

.todo-container {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  min-width: 60%;
  height: 100%;
  margin: 2rem auto;
  background: #fef6e4 repeating-linear-gradient(white 0px, white 24px, teal 25px) center/cover no-repeat;
  border-radius: 10px;

}

.todo-input {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.todo{

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin: 1rem auto;
width: 100%;


}

.todo-card{
 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: ease all 200s;
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 5px 0px #888;

}

.todo-content{
  color: #000;
  text-align: center;
  height: 100%;
 
  margin: 1rem auto;

  line-height: 25px;

  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  
  width: 300px;
  overflow: auto;
  
}


.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

button {
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0.8rem 1rem 0.8rem;
  border: none;
  background-color: orange;
  border-radius: 20px 20px 0 0;
  min-width: 80px;
}

.toggle-btn[aria-pressed='true'] {
  text-transform: capitalize;
  text-decoration: underline;
  background-color: teal;
  color: white;
}

.todo-edit-btn {
  border-radius: 20px !important;
  width: 80px;
    margin: 0.5rem !important;
}

.todo-add-btn {
  border-radius: 20px !important;
  width: 80px;
  color: white !important;
  margin: 1rem !important;
 
  
}

.btn-group {
  display: flex;
  justify-content: space-between;
  
}

.dark-light-mode{

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  justify-items: left;
  left: 0;
  top: 0;
  padding: 1rem;
  width: 100%;


 
}


 .colorPicker {
  
  display: flex;
  align-items: center;
 }

 
 .hiddenElement {

   display: none;

 }

 

.footer {

  left: 0;
  bottom: 0; 
  width: 100%;
 
  text-align: center;
  padding: 2rem;
 

}

.footer a{
  text-decoration: none;
   color: #ff8906;
}

